* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 100px;
  background-color: orange;
  position: relative;
}
header img {
  width: 50px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}
.container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.little_container {
  width: 100px;
  height: 200px;
  border: 1px solid white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.little_container img {
  width: 100%;
}

.little_container h4, .little_container p {
  color: white;
}

.little_container p {
  position: absolute;
  bottom: 5%;
}
